// ══════════════════════════════════════════════════════════
// Main SCSS — точка входа
// ══════════════════════════════════════════════════════════

@use 'variables' as *;
@use 'reset';
@use 'typography';

// Утилитарный класс заголовка
.title {
  font-family: $mossport;
  font-size: 10.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.86;
  text-transform: uppercase;

  &--white { color: $white; }
}
